.image-container {
    display: flex;
    justify-content: center; /* Center image horizontally */
    align-items: center; /* Center image vertically */
}

.responsive-image {
    max-width: 10%; /* Maximum width of the image */
    max-height: 10%; /* Maximum height of the image */
    max-width: 50px; /* Minimum width of the image */
    max-height: 50px; /* Minimum height of the image */

    min-width: 50px; /* Minimum width of the image */
    min-height: 50px; /* Minimum height of the image */
    
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
}


.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px;
}
.logo{
    width: 100px;
    cursor: pointer;
}

ul{
    flex: 1;
    list-style: none;
    text-align: center;
}
ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
ul li:hover {
    background-color: lightgreen; /* Background color on hover */
}

.toggle-icon{
    cursor: pointer;
}

.search-box{
    display: flex;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 50px;
    display: none;
}
.search-box input{
    background: transparent;
    padding: 6px;
    border: 0px;
    outline: 0px;
    font-size: 18px;
    max-width: 200px;
    color: #fff;
}
.search-box input::placeholder{
    color: #fff;
}
.search-box img{
    size: 20px;
    cursor: pointer;
}

.dark .navbar{
    background: #000;
    color: #fff;
}

/* styles.css */
/*
.hover-effect {
    background-color: white; // Default background color 
    transition: background-color 0.3s ease; // className='hover-effect'
}


.hover-effect:hover {
    background-color: lightgreen; //Background color on hover
}
*/
