.diary-container{
    display: grid; /* Use grid layout */
    grid-template-columns: 1fr 10fr; /* Two equal columns */
    gap: 10px; /* Space between grid items */
    min-height: 75vh;
}
.diary-left{
    min-width: 110px;
    max-width: 110px;
    padding: 1px;
    /*background-color: lightgreen; */
}

.diary-right{
    min-width: 100px;
    padding: 1px;
    /*border: 1px solid #ccc;*/
    /*background-color: rgb(238, 144, 199);*/
}


.diary-video{

    max-width: 100%; /* Maximum width of the image */
    max-height: 80%; /* Maximum height of the image */
}