.responsive-image {
    max-width: 10%; /* Maximum width of the image */
    max-height: 10%; /* Maximum height of the image */
    max-width: 50px; /* Minimum width of the image */
    max-height: 50px; /* Minimum height of the image */

    min-width: 50px; /* Minimum width of the image */
    min-height: 50px; /* Minimum height of the image */
    
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: lightsalmon;
  color: white;
  padding: 16px;
  font-size: 16px;
  min-width: 120px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
