.i18-button {

    max-width: 60px; /* Minimum width of the image */
    max-height: 30px; /* Minimum height of the image */

    min-width: 60px; /* Minimum width of the image */
    min-height: 30px; /* Minimum height of the image */
    
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */

    border-radius: 50px;
}